.word {
    color:white;
    
    }
    h2 {
    color:white;
        font-size: 40px;
    }
    .thing {
        font-size: 25px;
    }

body {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    background: black;
    user-select: none;
    transition: 1s;
}
